* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Body Colouring and Structure*/
body {
    font-family: Arial;
    margin: 0;
    font-size: 1.5vw;
    background-color: #f1eae5;
}

/*Header Items*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    transition: background-color .5s ease;
    height: 5vw;
}

li,
a,
button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    color: rgb(230, 230, 230);
    text-decoration: none;
}

nav {
    order: 2;
}

h2 {
    text-align: center;
    font-size: 3vw;
    font-weight: 100;
    font-family: 'Didot', sans-serif;
    color: rgb(68, 68, 68);
    text-decoration: none;
    letter-spacing: 0.2vw;
}

h3 {
    font-size: 1.5vw;
    font-weight: 100;
    font-family: 'Didot', sans-serif;
    color: rgb(68, 68, 68);
    text-decoration: none;
}

p {
    color: rgb(68, 68, 68);
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

.logo {
    width: 20vw;
    padding-right: 1vw;
    height: 4vw;
    order: 1;
}

.navLinks {
    list-style: none;
    padding-left: 0.5vw;
}

.navLinks li {
    display: inline-block;
    padding: 0px 0.5vw;
    letter-spacing: 0.2vw;
}


.navLinks li:nth-child(1) {
    padding: 0 4px 0 0;
}

.navLinks li a:hover {
    opacity: 80%;
}

.scrollingActive {
    background-color: #111;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.sticky {
    top: 0;
    width: 100%;
    z-index: 999;
}

.sticky+.content {
    padding-top: 60px;
}

/*Header Cart Styling*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-left: solid 1px;
    border-color: #818181;
    text-align: center;
}

.sidebar h1 {
    font-size: 5vw;
}

.checkoutbtn {
    font-size: 2vw;
    color: rgb(230, 230, 230);
    border: 1px solid #818181;
    background-color: transparent;
    cursor: pointer;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.tbl-cart {
    margin-left: auto;
    margin-right: auto;
}

.tbl-cart td {
    font-size: 1vw;
    color: white;
    white-space: nowrap;
}

.checkoutbtn:hover {
    opacity: 0.8;
}

.sidebar a {
    padding: 2vw;
    text-decoration: none;
    font-size: 2vw;
    color: #ffffff;
    display: block;
    white-space: nowrap;
    text-align: center;
}

.sidebar a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0.5vw;
    font-size: 3vw;
    margin-left: 50px;
    font-family: Arial Helvetica, sans-serif;
}

.openbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    order: 3;
}

.acountbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    order: 3;
    padding-right: 1vw;
}

.openbtn:hover {
    opacity: 0.8;
}

.acountbtn:hover {
    opacity: 0.8;
}

.searchDiv {
    width: 10vw;
    align-items: center;
    padding-left: 1vw;
}

#form {
    background: transparent;
    border: 1px solid white;
    border-radius: 5vw;
    display: flex;
}

#search {
    all: unset;
    font: 0.8vw system-ui;
    color: #fff;
    width: 60%;
    padding: 0.7vw 0.7vw;
    letter-spacing: 0vw;
}

#button {
    all: unset;
    cursor: pointer;
}

svg {
    color: #fff;
    fill: currentColor;
    width: 3vw;
    padding: 0.8vw;
}


/*footer*/
.paragraph {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
    color: #555;
    display: flex;
    flex-direction: column;
}

.column2 {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row2::after {
    content: "";
    clear: both;
    display: table;
}

.infoText {
    text-align: center;
}

.infoGroup {
    position: relative;
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.section {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.5)
}

.centerpage {
    display: flex;
    justify-content: center;
}

.section2 {
    width: 45%;

    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.5)
}

.sticky {
    top: 0;
    width: 100%;
    z-index: 999;
}

@media screen and (max-width: 800px) {

    /* Responsive layout - makes a two column-layout instead of four columns */
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

a.button1 {
    width: 40%;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    border: 0.1em solid rgb(68, 68, 68);
    color: rgb(68, 68, 68);
}

/*Artist Grid styling*/
.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    /* Create four equal columns that sits next to each other */
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}


.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.artistText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2vw;
    font-weight: 100;
    color: rgb(255, 255, 255);
}

.artistGroup {
    position: relative;
    cursor: pointer;
}

.artistGroup:hover {
    opacity: 0.8;
}

.btnStyle {
    font-size: 2vw;
    color: rgb(68, 68, 68);
    border: 1px solid #818181;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 3vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.indexboxlink {
    display: flex;
}

.indexbtnStyle {
    flex: 1;
    padding: 1vw;
    margin: 0 10vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(68, 68, 68);
    color: white;
    cursor: pointer;
    text-align: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 3vw;
    resize: vertical;
}

input[type=password] {
    width: 100%;
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 3vw;
    resize: vertical;
}

.cartHeader {
    color: rgb(230, 230, 230);
    padding-bottom: 1vw;
}

.mainFooter {
    text-align: center;
    font-size: 1vw;
    padding: 3vw;
}

.invalid-feedback {
    height:fit-content;
    text-align: center;
}